# Ignore root-level build and target folders
#/target/
/build/

# Un-ignore nested target and build folders inside src/main and src/test
!src/
!src/**/
!src/main/
!src/main/**/
!src/main/**/target/
!src/test/
!src/test/**/
!src/test/**/target/
!src/main/**/build/
!src/test/**/build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Documentation
HELP.md

# IDE settings
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/